<p>
    {{ companyName }}<br />
    {{ customerName }}様
</p>

<p>
    お世話になっております。SentinelOne（トライアル）のご発注ありがとうございます。<br />
    {{ companyName }}様のサイト作成が完了いたしました。
</p>

<p>
    別途管理者パスワードの登録メールが届いておりますので、24時間以内にご登録をお願いします。<br />
    ※URLの期限が切れてしまった場合、下部にある問い合わせ先までご連絡ください<br />
    利用開始日　　　：{{ createdOn }} (30日間有効)<br />
    ライセンス数　　：{{ numberOfLicenses }}<br />
    サイト名　　　　：{{ siteName }}<br />
    [Site Token (登録キー)]<br />
    {{ registerToken }}
</p>

<p>
    [簡易手順]<br />
    ① インストーラをダウンロードしてダブルクリック<br />
    ② インストールウィザード中にSiteTokenをコピー＆ペースト<br />
    ③ PCを再起動
</p>

<p>
    ■最新版インストーラ/マニュアル ダウンロードリンク<br />
    {{#each packages}}
    <a href="{{ this.url }}">ダウンロードはこちら</a><br /><br />

    {{/each}}
</p>

<p>
    【問い合わせ先】<br />
    株式会社TTM (サイバーセキュリティ総研)<br />
    TEL: 03-6823-5903<br />
    Email: sentinel-support@to-tm.com<br />
    LINE公式: https://lin.ee/4nAgjm0<br />
    本メールはフォーム入力からの自動返信です。<br />
    ご登録内容がお間違いないか、必ずご確認をお願いします。<br />
</p>

<p>
    [ご登録内容]<br />
    ****************************************************************<br />
    入力者　　　　　：{{ customerName }}<br />
    オーダーの種類　：新規ユーザー<br />
    ご発注日　　　　：{{ createdAt }}<br />
    エンドユーザー名：{{ companyName }}<br />
    ユーザー担当者名：{{ customerName }}<br />
    ユーザー電話番号：{{ tel }}<br />
    ユーザーメール　：{{ email }}<br />
    利用開始日　　　：{{ createdOn }}<br />
    ライセンス数　　：{{ numberOfLicenses }}<br />
    ****************************************************************<br />
</p>
