<p>
    {{ companyName }}<br />
    ご担当者様
</p>

<p>
    お世話になっております。SentinelOneサイト作成フォームよりお申し込みいただいた<br />
    {{ companyName }}様のサイト作成が完了いたしました。
</p>

<p>
    エンドユーザー管理者を設定した場合に限り、指定したメールアドレスに英語のパスワード設定メールが届いているので<br />
    72時間以内にアクティベーションするようにお客様にご依頼ください。<br />
    ※URLの期限が切れてしまった場合、下部にある問い合わせ先までご連絡ください<br />
    {{#if isPaidType}}
        作成日　　　：{{ createdOn }} <br />
    {{else}}
        作成日　　　：{{ createdOn }} (ライセンス期限：{{ expiration }}) <br />
    {{/if}}
    ライセンス数　　：{{ numberOfLicenses }}<br />
    サイト名　　　　：{{ siteName }}<br />
    サイトID　　　：{{ siteId }}<br />
    [Site Token (登録キー)]<br />
    {{ registerToken }}
</p>

<p>
    [簡易インストール手順]<br />
    ① インストーラをダウンロードしてダブルクリック<br />
    ② インストールウィザード中にSiteTokenをコピー＆ペースト<br />
    ③ PCを再起動<br />
    ■最新版インストーラ ダウンロードリンク<br />
    {{#each packages}}
        <a href="{{ this.url }}">ダウンロードはこちら</a><br /><br />
    {{/each}}
</p>

<p>
    インストール手順についてはサポートサイトをご覧ください<br />
    https://s1-support.freshdesk.com
</p>

<p>
    【問い合わせ先】<br />
    株式会社TTM<br />
    TEL: 03-6823-5903<br />
    Email: sentinel-support@to-tm.com<br />
    本メールはフォーム入力からの自動返信です。ご登録内容がお間違いないか、必ずご確認をお願いします。<br />
    {{#if isPaidType}}
        作成したサイトは３０日間でライセンス失効します。本番用に切り替えるには別途発注フォームから登録が必要です。<br />
    {{/if}}
</p>

<p>
    [ご登録内容]<br />
    ****************************************************************<br />
    {{#if isPaidType}}
        オーダーの種類　　：本番<br />
    {{else}}
        オーダーの種類　　：トライアル<br />
    {{/if}}
    入力日時　　　　　：{{ createdAt }}<br />
    エンドユーザー名　：{{ companyName }}<br />
    {{#if isCustomerAdminNeeded}}
        エンド管理者メール：{{ email }}<br />
    {{/if}}
    利用開始日　　　　：{{ createdOn }}<br />
    ライセンス種別　　：{{ sku }}<br />
    ライセンス数　　　：{{ numberOfLicenses }}<br />
    ****************************************************************<br />
</p>
